<div _ngcontent-bbw-c2="" class="section section-responsive selection-koban animated">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="phone-container" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2=""
                        src="./assets/img/koban_img/phone.png"
                        srcset="./assets/img/koban_img/phone.png 2x, ./assets/img/koban_img/phone.png 3x"></div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-lg-4 download" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info ">                  
                    <div _ngcontent-bbw-c2="" class="section-description">
                        <h2 _ngcontent-bbw-c2="" class="title"> Descubre Koban! </h2>
                        <p _ngcontent-bbw-c2="" class="category"> La manera más fácil de manejar tu plata con una app y una tarjeta Visa. #PrimeroEstasVos</p>
                    </div>
                </div>
                <div _ngcontent-bbw-c2="" class="info info-horizontal justify-content-around align-items-center">
                   <div class="row d-flex">
                       <div class="col-md-6"><img width="100%" src="./assets/img/koban_svg/googlePlay.svg" 
                        srcset="./assets/img/koban_svg/googlePlay.svg 2x, ./assets/img/koban_svg/googlePlay.svg 3x"
                        alt=""></div>
                       <div class="col-md-6"><img width="100%" src="./assets/img/koban_svg/appStore.svg" 
                        srcset="./assets/img/koban_svg/appStore.svg 2x, ./assets/img/koban_svg/appStore.svg 3x"
                        alt=""></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>