<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div _ngcontent-bbw-c2="" class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="row" style="flex-direction: row;">
                    <div class="col-md-6 security-service">
                        <i class="nc-icon nc-tap-01"></i>
                        FingerPrint & Face ID
                    </div>
                    <div class="col-md-6 security-service">
                        <i class="nc-icon nc-touch-id"></i>
                        Lock Card
                    </div>
                    <div class="col-md-6 security-service">
                        <i class="nc-icon nc-laptop"></i>
                        Support
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h3 _ngcontent-bbw-c2="" class="title">La seguridad es nuestra prioridad</h3>
                    <h5 _ngcontent-bbw-c2="" class="description">Con la identificación biometrica y tecnologia 3D, usted puede estar tranquilo!</h5>
                    <div class="row d-flex">
                        <div class="col-md-6"><img width="100%" src="./assets/img/koban_svg/googlePlay.svg" 
                         srcset="./assets/img/koban_svg/googlePlay.svg 2x, ./assets/img/koban_svg/googlePlay.svg 3x"
                         alt=""></div>
                        <div class="col-md-6"><img width="100%" src="./assets/img/koban_svg/appStore.svg" 
                         srcset="./assets/img/koban_svg/appStore.svg 2x, ./assets/img/koban_svg/appStore.svg 3x"
                         alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>