<div _ngcontent-bbw-c2="" class="section section-cards selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="">
            <div _ngcontent-bbw-c2="" class="row" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info">                  
                    <div _ngcontent-bbw-c2="" class="section-description">
                        <h2 _ngcontent-bbw-c2="" class="title"> Obten la tarjeta  <br> Koban gratis y sin demoras.</h2>
                        <p _ngcontent-bbw-c2="" class="category"> Nuestro proceso de apertura es totalmente digital y seguro. Sin visitas a una sucursal, sin depósitos, sin papeleos, sin vueltas. </p>
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="row d-flex justify-content-center">
                <div class="col-md-3" data-aos="fade-up" data-aos-duration="3000">
                    <div class="downloadStepImage">
                        <img src="https://www.uala.com.ar/assets/images/svg/app.svg" alt="">
                    </div>
                    <div class="downloadStepText">
                        <span class="stepNumer">1. Descargá la app desde Play Store o App Store en tu celular. </span>
                    </div>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-duration="3000">
                    <div class="downloadStepImage">
                        <img src="https://www.uala.com.ar/assets/images/svg/doc.svg" alt="">
                    </div>
                    <div class="downloadStepText">
                        <span class="stepNumer">2. Completá el registro con tus datos desde la app.</span>
                    </div>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-duration="3000">
                    <div class="downloadStepImage">
                        <img src="https://www.uala.com.ar/assets/images/svg/delivery.svg" alt="">
                    </div>
                    <div class="downloadStepText">
                        <span class="stepNumer">3. Recibí tu tarjeta Koban dentro de los 15 días hábiles, gratis y en
                        todo el país.</span>
                    </div>
                </div>
                <!-- <div class="col-md-3" data-aos="flip-up" data-aos-duration="3000">
                    <div class="downloadStepImage">
                        <img src="https://www.uala.com.ar/assets/images/svg/contactless.svg" alt="">
                    </div>
                    <div class="downloadStepText">
                        <span class="stepNumer">4. ¡Activá tu tarjeta desde la app y cargá saldo para empezar a
                        usarla!</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>