<div class="page-header section-dark" style="background-image: url('assets/img/koban_img/background_welcome.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-left">Somos Koban. </h2>
            <h2 class="presentation-subtitle text-left" style="margin-top: -20px;"> Banco al reves. <br> </h2>
            <h5 class="presentation-subtitle cls_span" style="margin-top: -20px;">#VosPrimero</h5>
            <div class="row cls_input">
                <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Ingresa tu número celular" name="" id="">
                </div>
                <div class="wrap col-md-6">
                    <button class="btn btn-info">Lista de Espera</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="presentation-subtitle text-body">Unite a nuestra lista de espera para ser parte de la
                        revolución y se el primero en enterarte de nuestros productos y servicios.</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
    <h6 class=" category-absolute ml-auto mr-auto">Diseñado y codificado por
        <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/koban_img/Koban_dark_bg_jpg.png" width="100px" class="creative-tim-logo">
        </a>
    </h6>
</div>