.selection-koban {
    background: rgb(6, 133, 237);
    background: linear-gradient(320deg, rgba(6, 133, 237, 1) 0%, rgba(3, 188, 190, 1) 50%, rgba(0, 244, 152, 1) 100%);
}

.selection-koban_section {
    background: rgb(6, 133, 237);
    background: linear-gradient(229deg, rgba(6, 133, 237, 1) 0%, rgba(3, 188, 190, 1) 50%, rgba(0, 244, 152, 1) 100%);
}
.section-card {
    background: #01ea9f;
}
.icon {
    color: #fff !important;
}
.info-title {
    font-weight: bold;
}
.main-card {
    margin-top: 10%;
}
.category,
.description {
    color: #ffffff;
}
.blue-color {
    color: #0685ed !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.body-card {
    background-color: #00f498;
}
