<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-7">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h3 _ngcontent-bbw-c2="" class="title">Pagá con QR <br>
                        donde quieras</h3>
                    <h5 _ngcontent-bbw-c2="" class="description">En cualquier comercio que tenga QR, escaneá con Ualá y
                        pagá con la plata que tengas en la cuenta.</h5>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img
                        _ngcontent-bbw-c2="" class="center"
                        src="https://www.uala.com.ar/assets/images/qr/Mask%20Group%20(15).png">
                </div>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-content section-card">
    <div class="container main-card">
        <div class="row">
            <div class="col-md-2" style="border: 1px solid red;">
                <img width="30%" class="center" src="https://www.uala.com.ar/assets/images/qr/Frame%20(9).png" alt="">
            </div>
            <div class="col-md-8" style="border: 1px solid red;">
                <h2 class="title">Pagá con código QR</h2>

            </div>
        </div>
    </div>
</div>