<div _ngcontent-bbw-c2="" class="section section-responsive selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-7"  data-aos="fade-up" data-aos-duration="8000">
                <div _ngcontent-bbw-c2="" class="phone-container"><img _ngcontent-bbw-c2=""
                        src="./assets/img/koban_img/comisiones_mobile.png" width="400px"></div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-lg-4 commissions" data-aos="fade-up" data-aos-duration="5000"
            >
                <div _ngcontent-bbw-c2="" class="info">                  
                    <div _ngcontent-bbw-c2="" class="section-description">
                        <h2 _ngcontent-bbw-c2="" class="title"> Adiós <br> comisiones </h2>
                        <p _ngcontent-bbw-c2="" class="category"> Recibe, transfiere y gasta como quieras sin necesidad de pagar comisión por saldos mínimos, mensualidad, anualidad o transferencias interbancarias (SPEI).</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>