<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">     
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/70DBHpSQBHK1jH1bqvRd9o/1f7ece972beb89bb1dd33b0163b7d267/Instant_-_Transfer_-_Open_Banking.png?w=1410&fm=webp"
                      ></div>
            </div>       
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Instant bank transfers</h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Add money fast from a linked UK bank account for easy bank transfers right from your Monese app</h5>
                    </div>                 
                </div>               
            </div>           
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row"> 
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/2THbaEOLOfTfFN6g4h9Pu8/6ff54d5db6940e7d5c92798fedf1afb8/Logos_Post_Office___PayPoint.png?w=1410&fm=webp"
                      ></div>
            </div>           
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Top up with cash </h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">We partner with the Post Office and PayPoint so that you can add cash to your Monese account fast. Just head to any Post Office branch and have cash in your account within one working day, or to any high-street convenience store, corner-store or off-license that displays the PayPoint logo to top up instantly!</h5>
                    </div>                 
                </div>               
            </div>           
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">                      
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Top up instantly</h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Send money directly to your debit card by using another debit card for an on-the-spot top-up.</h5>
                    </div>                 
                </div>               
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/5XXK9dKc8Y1RBOh8wsRfC1/83079f105fb3c3efe3bff46ac4c6dd33/Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>          
        </div>
    </div>
</div>