<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">            
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Access your money <br> wherever you are</h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">A Monese card is your passport to financial freedom. You can access the money in your Monese debit card account in-store, online or at ATMs worldwide, and you’ll get Mastercard’s great-value exchange rates when spending abroad.</h5>
                    </div>                 
                </div>               
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/17QObAIOGpdL3bqZMURfyG/71d302c500897671d720ff65ffbfd14d/Account_GBP__Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row"> 
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/1gEf3fejMfmPSBFjLnSD2W/769fffb1738d1ed7061e46051eb1c2bd/Account_GBP__Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>           
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Control your money </h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Stay on top of your spending and know exactly where your money is going.</h5>
                    </div>                 
                </div>               
            </div>           
        </div>
    </div>
</div>

<div _ngcontent-bbw-c2="" class="section section-responsive selection-koban">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">                      
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title">Get detailed transaction <br> alerts </h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category">With a categorised transaction list, see when, where and how much you’ve spent. Get instant notifications whenever you buy.</h5>
                    </div>                 
                </div>               
            </div>  
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/656i0X1bGY2QuykabCcJxl/0078481691b2013afa0df6f01e80c4f6/Account_GBP__Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>          
        </div>
    </div>
</div>