<div _ngcontent-bbw-c2="" id="fadeInAnim">
    <div _ngcontent-bbw-c2="" class="section section-content selection-koban">
        <div _ngcontent-bbw-c2="" class="container">
            <div _ngcontent-bbw-c2="" class="row">
                <div _ngcontent-bbw-c2="" class="col-md-7 digital-onboarding">
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title">Atención 100% online</h3>
                        <h5 _ngcontent-bbw-c2="" class="description">Si tenés dudas, ¡preguntanos a nosotros!,
                             si sos usuario de Ualá escribinos por el chat de la app,
                            Si todavía no te sumaste, por mail a hola@koban.com o por nuestras redes sociales
                            Además en la Comunidad Koban , encontrarás las respuestas en un click.</h5>
                    </div>
                </div>
                <div _ngcontent-bbw-c2="" class="col-md-4 digital-onboarding d-flex"  data-aos="zoom-out-down" data-aos-duration="3000">
                    <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img _ngcontent-bbw-c2=""
                           src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Fcontacto%2Fcontacto.png&w=1920&q=75">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>