.section-koban {
    background: rgb(6,133,237);
    background: linear-gradient(80deg, rgba(6,133,237,1) 0%, rgba(3,188,190,1) 50%, rgba(0,244,152,1) 100%);        
}
.icon {
    color: #fff !important;
}
.info-title{
    font-weight: bold;
}