<div _ngcontent-bbw-c2="" class="section section-koban">
    <div _ngcontent-bbw-c2="" class="container">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <a [routerLink]="['/card-page']">
                    <div _ngcontent-bbw-c2="" class="info" data-aos-duration="2000">
                        <div _ngcontent-bbw-c2="" class="icon"><i _ngcontent-bbw-c2=""
                                class="nc-icon nc-credit-card"></i></div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> Tarjeta</h4>
                            <p _ngcontent-bbw-c2="">Una tarjetas para todos y para todo. Lorem Ipsum es simplemente
                                el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el </p>
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <a [routerLink]="['/qr-page']">
                    <div _ngcontent-bbw-c2="" class="info">
                        <div _ngcontent-bbw-c2="" class="icon"><i class="fa fa-qrcode" aria-hidden="true"></i>
                        </div>
                        <div _ngcontent-bbw-c2="" class="description">
                            <h4 _ngcontent-bbw-c2="" class="info-title"> QR PAGE </h4>
                            <p _ngcontent-bbw-c2="">Paga con codigo Qr. Lorem Ipsum es simplemente
                                el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el</p>
                        </div>
                    </div>
                </a>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000"
                data-aos-duration="2000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="icon"><i class="fa fa-file" aria-hidden="true"></i>
                    </div>
                    <div _ngcontent-bbw-c2="" class="description">
                        <h4 _ngcontent-bbw-c2="" class="info-title"> Pago de facturas, recargas y subscripciones </h4>
                        <p _ngcontent-bbw-c2="">Haz recargas a celular paga el gas, Lorem Ipsum es simplemente
                            el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000"
                data-aos-duration="2000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="icon ">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                    </div>
                    <div _ngcontent-bbw-c2="" class="description">
                        <h4 _ngcontent-bbw-c2="" class="info-title"> Transferencias </h4>
                        <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number of
                            example pages. You can jump start your development with our pre-built example pages.</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000"
                data-aos-duration="2000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="icon ">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <div _ngcontent-bbw-c2="" class="description">
                        <h4 _ngcontent-bbw-c2="" class="info-title"> Inversiones </h4>
                        <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number of
                            example pages. You can jump start your development with our pre-built example pages.</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4" data-aos="fade-up" data-aos-duration="3000"
                data-aos-duration="2000">
                <div _ngcontent-bbw-c2="" class="info">
                    <div _ngcontent-bbw-c2="" class="icon ">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div _ngcontent-bbw-c2="" class="description">
                        <h4 _ngcontent-bbw-c2="" class="info-title"> Préstamos </h4>
                        <p _ngcontent-bbw-c2="">Speed up your development time or get inspired with the large number of
                            example pages. You can jump start your development with our pre-built example pages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>