.selection-koban {
    background: #03bcbe; /* fallback for old browsers */
       
}

.cashin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.title{
    color: #ffffff !important;
}
.category {
    color: #ffffff !important;
}
.description{
    color: #ffffff;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

