<div _ngcontent-bbw-c2="" class="section section-content selection-koban">
    <div class="container main-card">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-7">
                <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                    <h3 _ngcontent-bbw-c2="" class="title">Una tarjeta para <br> tod@s y para todo</h3>
                    <h6 _ngcontent-bbw-c2="" class="category">Comprá en cualquier comercio o página
                        web del mundo que acepte Mastercard.</h6>
                    <h5 _ngcontent-bbw-c2="" class="description">Recordá: <br>
                        Si aceptan Mastercard, aceptan Koban.</h5>
                </div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-md-4 d-flex" data-aos="zoom-out-down" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="image-container"><img _ngcontent-bbw-c2="" class="img"><img class="center"
                        _ngcontent-bbw-c2="" src="https://www.uala.com.ar/_next/image?url=%2Fassets%2Fimages%2Ftarjeta%2Ftarjeta-3D%201.png&w=3840&q=75">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 98.8%;">
    <div class="row">
        <div class="col-md-6 selection-koban_section">
            <h3 _ngcontent-bbw-c2="" class="title" data-aos="fade-up" data-aos-duration="3000" style="text-align: center;">Spend in style with a <br> Koban card</h3>
            <h5 _ngcontent-bbw-c2="" class="description" data-aos="fade-up" data-aos-duration="3000" style="text-align: center;">Our sleek Koban cards are beautifully designed to match your
                plan and lifestyle. Choose your Monese plan and order a free physical card for quick delivery. Start
                spending straight away with a virtual card.
            </h5>
        </div>
        <div class="col-md-6 section-card" >
            <img width="400px" class="center" data-aos="zoom-out-down" data-aos-duration="3000"
                src="https://images.ctfassets.net/96dxy75w1gjr/3KuFf3s6zpCTFiiiAwitin/ebc0542fdf4fcdd98e8ce25cc35c90f5/Rendered_-_Trio_-_Classic.png?w=1410&fm=webp"
                alt="">
        </div>
    </div>
</div>
<div _ngcontent-bbw-c2="" class="section section-responsive body-card">
    <div _ngcontent-bbw-c2="" class="container-fluid">
        <div _ngcontent-bbw-c2="" class="row">
            <div _ngcontent-bbw-c2="" class="col-md-6">
                <div _ngcontent-bbw-c2="" data-aos="fade-down" data-aos-duration="3000"><img _ngcontent-bbw-c2="" class="center"
                        src="https://images.ctfassets.net/96dxy75w1gjr/1gdj9bJYfenPTPw8VNWUWu/b2340756a174dd94003b3d2c0c1c9657/Language_EN.png?w=1410&fm=webp"
                      ></div>
            </div>
            <div _ngcontent-bbw-c2="" class="col-lg-4 center" data-aos="fade-up" data-aos-duration="3000">
                <div _ngcontent-bbw-c2="" class="info"> 
                    <div _ngcontent-bbw-c2="" class="section-description" data-aos="fade-up" data-aos-duration="3000">
                        <h3 _ngcontent-bbw-c2="" class="title blue-color">Create a virtual card</h3>                        
                        <h5 _ngcontent-bbw-c2="" class="category blue-color">Pay even safer with your in-app virtual card for an extra layer of security when shopping online.</h5>
                    </div>                 
                </div>               
            </div>
        </div>
    </div>
</div>
<app-features></app-features>
<app-cashin-card></app-cashin-card>
<app-security></app-security>