.digital-onboarding {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.selection-koban {
    background: #0685ed; /* fallback for old browsers */    
}

.category {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.description {
    color: #ffffff;
    font-weight: bold;
}

img {
    width: 70%;
    max-width: 70%;
    height: auto;
}
